/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * THIS STYLESHEET HAS BEEN MODIFIED BY THE MEMBERS OF THE SWARTHMORE COLLEGE
 * COMPUTER SOCIETY AND NO LONGER REPRESENTS OPTIMIZED BOILERPLATE DEFAULTS
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

:root {
    --header-height: 70px;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* Color scheme used: 
https://coolors.co/31425f-e8f1f2-b3efb2-7a9e7e-001a23
*/
body {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: lighter;
    background-color: #31425f;
}

html,
body {
    margin: 0px;
    height: 100%;
}

/* From http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page for footer */
#container {
    min-height: 100%;
    position: relative;
}

#body {
    padding-bottom: 60px;
    /*Height of footer */
}

.headFoot {
    background-color: #31425F;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
    text-align: center;
    color: #ffffff;
    margin: 0px;
}

#header {
    height: var(--header-height);
}

#header>h1 {
    margin: 0px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
}

.pageMain {
    flex-grow: 1;
    justify-content: space-between;
}

#footer span {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

#footer p { display: inline-block }

#calendarTd {
    vertical-align: top;
    border: rgb(220, 220, 220) solid 3px;
    margin: 10px 10px 0px 10px;
    border-radius: 4px;
}

#classTd {
    vertical-align: top;
    border-radius: 4px;
}

.rightCol {
    text-align: left;
}

.chosenClass {
    margin-left: 10px;
    text-align: left;
}

.chosenClass>span {
    display: inline-grid;
}

.chosenClassRight {
    font-size: 13px;
}

.thirds {
    /* On mobile, show 100% width*/
    width: 100%;
    display: inline-block;
}

.thirds>button {
    margin: 10px;
    margin-left: 30px;
}

.leftAlign {
    display: block;
}

#clearAll_par {
    padding-top: 10px;
    background-color: transparent;
}

#clearClasses {
    text-align: left;
    /* Just a little smaller than the 16px body size*/
    font-size: 14px;
    cursor: pointer;
}

/* Added dynamically by reloadRightCol so if no classes, doesn't look weird*/
/* Very cool, pretty good browser-support*/
/* TODO polyfill? */

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}
*/

#middle-row {
    text-align: unset;
}

.large_inline {
    display: block;
}

#rightCol_par {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 200px;
}

#inside_container {
    padding: 10px;
}

#class_and_clear {
    /*display: block;*/
    background-color: white;
    margin: 0px 10px 20px 10px;
    width: calc(100% - 20px);
}

#search {
    display: block;
    padding: 10px;
    margin: 0px 10px 20px 10px;
    width: calc(100% - 40px);
    font-family: 'Raleway', sans-serif;
    /* override input using arial or whatever */
    text-overflow: ellipsis;
}

.shadow {
    filter: drop-shadow(-2px 4px 6px #00000044);
    border-radius: 4px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 200;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/ opacity */
    /*backdrop-filter: blur(10px);*/
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Content */
.modal-content {
    position: relative;
    /*background-color: #31425f;*/
    background-color: rgba(49, 66, 95, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    border-radius: 4px;
    top: 50px;
    margin: auto;
    padding: 15px;
    width: 80%;
    filter: drop-shadow(4px 6px 10px #00000044);
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-title {
    font-size: large;
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 50px;
        opacity: 1
    }
}

.fc-event-time {
    display: none;
    text-overflow: ellipsis;
}

/* Modified from https://tutorialzine.com/2014/07/css-inline-help-tips */
.help-tip {
    display: none;
    position: absolute;
    top: 25px; /* TODO: calc-ize this with --header-height */
    right: 25px;
    text-align: center;
    background-color: rgba(22, 30, 44, 0.8);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    cursor: pointer;
    z-index: 100;
}

.help-tip:before {
    content: '?';
    font-weight: bold;
    color: #E8F1F2;
}

.help-tip:hover p {
    display: block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

    z-index: 2;
}

.help-tip p {
    /* The tooltip */
    display: none;
    text-align: left;
    background-color: rgba(22, 30, 44, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    width: 500px;
    position: absolute;
    border-radius: 4px;
    filter: drop-shadow(4px 6px 10px #00000044);
    right: -4px;
    color: #FFF;
    font-size: 16px;
    line-height: 1.4;
}

.help-tip p:before {
    /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: rgba(22, 30, 44, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    right: 20px;
    top: -12px;
}

.help-tip p:after {
    /* Prevents the tooltip from being hidden */
    width: 100%;
    height: 40px;
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
}

@media (min-width: 576px) {
    .help-tip {
        display: block;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .fc-event-time {
        display: inline-block;
    }

    .modal-content {
        width: 60%;
    }

    #class_and_clear {
        margin: 10px 6rem 20px 6rem;
        width: calc(100% - 12rem);
    }

    #search {
        margin: 10px 6rem 20px 6rem;
        width: calc(100% - 12rem - 20px);
        text-overflow: ellipsis;
    }

    .multiCol {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

    #rightCol_par {
        height: auto;
    }

    .thirds {
        width: 33%;
    }

    .thirds.left {
        text-align: left;
    }

    #clearAll_par {
        padding-top: 0px;
    }

    #clearClasses {
        text-align: right;
    }

    #middle-row {
        text-align: left;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .multiCol {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

.rightCol>label>b {
    font-weight: 700;
}

#sayHi b {
    font-weight: 700;
}

thead {
    color: #ffffff;
    background-color: #F46523;
}


td {
    padding: 0px;
}

th {
    padding: 10px 1px 10px 1px;
}

input {
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 7px 14px;
    margin-bottom: 10px
}

input:focus {
    outline: none;
    border-color: #aaa;
}

button {
    padding: 4px 30px;
    border-radius: 4px;
    border: none;
    display: inline-block;
    color: #ffffff;
    background-color: #F46523;
    text-decoration: none;
    height: 30px;
    font-family: 'Raleway', sans-serif;
    margin: 2px;
}

button:hover {
    background-color: hsla(19, 60%, 55%, 1);
}

.icon_button {
    padding: 1px;
    color: #31425F;
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
}

.icon_button.icon-brush:hover {
    color: hsla(19, 60%, 55%, 1);
    background-color: white;
}

.icon_button.icon-brush.highlight {
    color: hsla(19, 60%, 55%, 1);
    background-color: white;
}

.icon_button.icon-brush.highlight:hover {
    color: hsla(19, 90%, 55%, 1);
    background-color: white;
}

.icon_button.icon-trash-1:hover {
    color: red;
    background-color: white;
}

.icon-link {
    color: black;
}

.icon-link:hover {
    color: black;
}

.icon-link,
.ref {
    display: inline;
}

button.sharp {
    /*#F46523 is 90%*/
    background-color: hsla(19, 90%, 55%, 1);
}

button.sharp:hover {
    background-color: hsla(19, 60%, 55%, 1);
}

button.likeLink {
    cursor: pointer;
    background-color: #f2f2f2;
}

button.dull {
    /*#F46523 is 90%*/
    background-color: hsla(19, 90%, 55%, 1);
}

button.dull:hover {
    /*#F46523 is 90%*/
    background-color: hsla(10, 60%, 55%, 1);
}

.sort {
    padding: 8px 30px;
    border-radius: 4px;
    border: none;
    display: inline-block;
    text-decoration: none;
    height: 30px;
    text-decoration: none;
}

.sort:focus {
    outline: none;
}

.sort:after {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 4px;
    content: "";
    position: relative;
    top: -10px;
    right: -5px;
}

.sort.asc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    border-radius: 4px;
    content: "";
    position: relative;
    top: 4px;
    right: -5px;
}

.sort.desc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    border-radius: 4px;
    content: "";
    position: relative;
    top: -4px;
    right: -5px;
}

table {
    border-collapse: collapse;
}

thead>tr>td {
    border: solid 0px;
}

a {
    color: #F46523;
    text-decoration: none;
}

.fc-timegrid-slots,
.fc-col-header {
    border-radius: 2px;
}

.fc-scrollgrid-section-header .fc-scroller-harness {
    background-color: rgb(220, 220, 220);
}

.fc .fc-scrollgrid,
.fc .fc-scrollgrid-section>td {
    border: none !important;
}

.fc-day-fri {
    border-radius: 0px 2px 0px 0px;
}

.fc-timegrid-axis {
    border-radius: 2px 0px 0px 0px;
}

.fc-timegrid-event-harness {
    margin-left: 2%;
}

/* override fullcalendar weird white shadow */
.fc-timegrid-event-harness-inset .fc-timegrid-event {
    box-shadow: none !important;
    filter: drop-shadow(4px 6px 10px #00000044) !important;
}

.fc-col-header-cell-cushion {
    color: white;
}

.fc-col-header-cell-cushion:hover {
    color: white;
}

.fc-col-header {
    background-color: #F46523;
}

.fc-event-main-frame {
    cursor: pointer;
}

.fc-event {
    border: none !important;
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.fc-event:hover {
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.fc-event-title {
    text-overflow: ellipsis;
}

a:hover {
    color: hsla(19, 60%, 55%, 1);
}

h2 {
    font-size: 1.1em;
}

.smallFont {
    font-size: small;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

.fc-body {
    background-color: rgb(220, 220, 220);
    border-radius: 4px;
}

.fc-unthemed td.fc-today {
    background-color: rgb(220, 220, 220);
    border-radius: 4px;
}

.fc-axis.fc-time {
    /*Side bar with time*/
    border-width: 0px;
    border-radius: 4px;
}

.fc-day-header.fc-widget-header.fc-mon {
    border-left: none !important;
}

.fc-widget-header>table>thead>tr {
    height: 30px !important;
}

.fc-widget-header>table>thead>tr>th {
    padding-top: 10px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fc-axis.fc-widget-header,
.fc-head-container.fc-widget-header,
.fc-body>tr>.fc-widget-content {
    /* Removes border from header */
    border: none !important;
}

.fc-toolbar.fc-header-toolbar {
    margin-bottom: 0px;
}

th {
    font-weight: normal;
}

/* Initial hide of (not|is)Authorized*/
#authorizedButtons {
    display: none;
}

#showCal {
    width: 99%;
}

#onlyFit_Cont {
    display: inline-block;
}

#classTable {
    /* display: none;*/
    margin-bottom: 30px;
    filter: drop-shadow(4px 6px 10px #00000044);
    border-radius: 4px;
    margin: 10px;
}

.hideClass {
    display: none;
}

.fullWidth {
    width: 100%;
}

.centering {
    margin: 0 auto;
}

/* Make side by side buttons */
#exportButtons,
#authorizedButtons {
    display: inline;
}

#exportButtons>button,
#authorizedButtons button {
    /*Remove margin from top of top button so aligns better with header*/
    margin-top: 0px;
    /*min-width: 35%;*/
}

#signout-button {
    /* Needs to be important to override the above min-width*/
    min-width: auto;
    padding: 0px;
}

.list tr:hover {
    /* #F46523 with 60% saturation */
    background-color: hsla(19, 60%, 55%, 1);
    border-radius: 4px;
}

.list tr {
    cursor: pointer;
}

#calContainer {
    transition: height 500ms ease;
    overflow: hidden;
    border-radius: 4px;
}

#calContainer:not(.active) {
    display: none;
    border-radius: 4px;
}

#classResultsTable {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    background-color: #FCFCFC;
    border-radius: 4px;
}

.scrolling {
    overflow-y: auto;
    height: 500px;
}

#classResultsTable>thead>tr>th {
    /* 100%/11 columns */
    /* width: 8.33%; */
    /* Default Small cols, will make fit if 1 work (most are)*/
    /* width: 1.5%;*/
    /*width: auto;*/
    padding: 5px;
}

/* So checkbox not right against margin*/
#classResultsTable>thead>tr>th:nth-child(1) {
    padding-left: 3%;
}

.flashWhite {
    opacity: 0;
    transition: all .7s;
}

.threeCol>label {
    /* Make not break in column*/
    display: inline-block;
}

.fc-scrollgrid-sync-inner {
    overflow: hidden;
}

.fc-col-header-cell-cushion {
    overflow: hidden;
    text-overflow: clip;
    vertical-align: middle;
}

#btns {
    padding-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.calBtn {
    width: calc(50% - 10px);
    height: 80%;
    padding: 10px;
    /* Some padding */
    filter: drop-shadow(4px 6px 10px #00000044);
    /* WAR: safari is gross, this forces gpu render */
    backdrop-filter: blur(0);
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    /* Pointer/hand icon */
    float: center;
    /* Float the buttons side by side */
    transition: 300ms;
}

.bold {
    font-weight: bold;
}

b {
    /* normalize css makes it bolder which doesn't work for raleway */
    font-weight: bold;
}

tr.trClickable {
    border-bottom: #c7c7c7 solid 1px;
    border-radius: 4px;
}

tr.trClickable.trHigh {
    background-color: hsla(19, 60%, 55%, 1);
}

/* Don't want border on last row*/
tr.trClickable:last-child {
    border-bottom-width: 0px;
}


.wide {
    width: auto;
}

.narrowest {
    width: 3%;
}

.narrow {
    width: 9%;
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes mmfadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes mmslideIn {
    from {
        transform: translateY(15%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes mmslideOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10%);
    }
}

.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {
    display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}

/* ===== Add custom fontell icon font (css/font for README)*/
/* Would rather it here than have another HTTP call */
/* Take from fontello fontello.css */

@font-face {
    font-family: 'fontello';
    src: url('font/fontello.eot?64048694');
    src: url('font/fontello.eot?64048694#iefix') format('embedded-opentype'),
        url('font/fontello.woff2?64048694') format('woff2'),
        url('font/fontello.woff?64048694') format('woff'),
        url('font/fontello.ttf?64048694') format('truetype'),
        url('font/fontello.svg?64048694#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    opacity: .8;

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-brush:before {
    content: '\e800';
}

/* 'a' */
.icon-trash-1:before {
    content: '\e801';
}

/* 'b' */
.icon-link:before {
    content: '\e802';
}

/* 'b' */


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.tab {
    overflow: hidden;
    background-color: #31425f;
    width: auto;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: none;
    border: none;
    outline: none;
    cursor: pointer;
    width: max-content;
    transition: 300ms;
    filter: drop-shadow(4px 6px 10px #00000044);
    /* unsure abt this bit */
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: hsla(10, 60%, 55%, 1);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: hsla(19, 90%, 55%, 1);
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}