[submodule "tricoscraper"]
	path = tricoscraper
	url = https://github.com/swat-sccs/tricoscraper
[submodule "xlsxscraper"]
	path = xlsxscraper
	url = https://github.com/swat-sccs/xlsxscraper
[submodule "css/tricoscraper"]
	path = css/tricoscraper
	url = https://github.com/swat-sccs/tricoscraper.git
